includes:
    - /home/phpuser/.composer/vendor/phpstan/phpstan-strict-rules/rules.neon
    - /home/phpuser/.composer/vendor/phpstan/phpstan-phpunit/extension.neon
    - /home/phpuser/.composer/vendor/phpstan/phpstan-phpunit/rules.neon
    - /home/phpuser/.composer/vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - /home/phpuser/.composer/vendor/ergebnis/phpstan-rules/rules.neon
parameters:
    reportUnmatchedIgnoredErrors: false
    level: 'max'
    paths:
        - 'src'
        - 'tests'
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#^Anonymous function should have native return typehint#'
        # The following ignored errors are from "ergebnis/phpstan-rules" and are too strict.
        - '#^Class "[^"]+" is not allowed to extend "[^"]+".$#'
        - '#^Method [^"]+ has a nullable return type declaration.$#'
        - '#^Closure has a nullable return type declaration.$#'
        - '#^Method [^"]+ has parameter [^"]+ with a nullable type declaration.$#'
        - '#^Closure has parameter [^"]+ with a nullable type declaration.$#'
        - '#^Method [^"]+ has parameter [^"]+ with null as default value.$#'
        - '#^Constructor in [^"]+ has parameter [^"]+ with default value.$#'
        - '#^Control structures using switch should not be used.$#'
        # The following ignored errors are caused by the Pest Testframework.
        - '#^Call to an undefined method Pest\\Expectations\\Expectation\|Pest\\Expectations\\Support\\Extendable::#'
        -
            message: '#Undefined variable: \$this$#'
            path: tests/Pest.php
