parameters:
    level: 'max'
    paths:
        - 'tests'
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # The following ignored errors are from "ergebnis/phpstan-rules" and are too strict.
        - '#^Class "[^"]+" is not allowed to extend "[^"]+".$#'
        - '#^Anonymous class is not allowed to extend "[^"]+".$#'
        - '#^Method [^"]+ has parameter [^"]+ with a nullable type declaration.$#'
        - '#^Method [^"]+ has a nullable return type declaration.$#'

