parameters:
    level: 'max'
    paths:
        - 'src'
    ignoreErrors:
        # The following ignored errors are from "ergebnis/phpstan-rules" and are too strict.
        - '#^Class "[^"]+" is not allowed to extend "[^"]+".$#'
        - '#^Constructor in [^"]+ has parameter [^"]+ with default value.$#'
        - '#^Method [^"]+ has a nullable return type declaration.$#'
        - '#^Method [^"]+ has parameter [^"]+ with a nullable type declaration.$#'
        - '#^Method [^"]+ has parameter [^"]+ with null as default value.$#'
        #- '#^Control structures using switch should not be used.$#'

